@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');

@font-face {
  font-family: "nishikiteki";
  src: local("nishiki-teki"),
    url("./fonts/nishiki-teki-2.ttf") format("truetype");
}

@layer base {
    html {
      font-family: Potta One, Mochiy Pop One, nishikiteki;
    }
    
    li {
        @apply px-4;
        @apply cursor-pointer;
    }
}


